h1 {
  display:inline-block;
  text-align: center;
  padding-right: -100;
  color: lightpink;
  font-size: 100px;
  text-shadow: 5px 5px lightblue;
  font-weight: 900;
  background: lightgreen;
}
head {
}
body {
 background: url(photo/RAT.png);
 background-size: 250px 250px;
background-repeat:repeat;
background-color: lightyellow;
}
h2 {
  text-align: center;
  color: white;
  font-size: 15px;
  text-shadow: 2px 2px lightpink;
  writing-mode: vertical-rl;
  border: 3px dotted lightgreen;
}
